$icon-font-path: '../fonts/bootstrap';
$fa-font-path:   '../fonts';

$white: #fff;
$black: #000;

// Flat UI
$clouds_light: #ecf0f5;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$transparent_clouds: rgba(236, 240, 241, 0.2);

$asbestos: #7F8C8D;
$concrete: #95A5A6;

$midnight_blue: #2C3E50;
$wet_asphalt: #34495E;

$peter_river: #3498DB;
$belize_hole: #2980B9;

$sun_flower: #F1C40F;
$transparent_sun_flower: rgba(241, 196, 15, 0.5);
$orange: #F39C12;

$carrot: #E67E22;
$pumpkin: #D35400;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$turquoise: #1ABC9C;
$green_sea: #16A085;

$emerald: #2ecc71;
$nephritis: #27ae60;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$text_color: $midnight_blue;
$background_color: $white;

$navbar_inverse_bg: $midnight_blue;
$navbar_inverse_link_active_bg: $midnight_blue;

$width: 960px;
$label_width: 122px;
$border_color: $silver;
$border_radius: 5px;
$message_width: 86%;
$font_family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
$font_size_error: 18px;


$btn_color: $white;
$input_border: $silver;
$border_color: $silver;

$btn_background_color: $midnight_blue;
$btn_background_color_highlight: $wet_asphalt;
