@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-px660i');
	src:url('fonts/icomoon.eot?#iefix-px660i') format('embedded-opentype'),
		url('fonts/icomoon.woff?-px660i') format('woff'),
		url('fonts/icomoon.ttf?-px660i') format('truetype'),
		url('fonts/icomoon.svg?-px660i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
	content: "\ea87";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-github:before {
	content: "\eab1";
}

