<!doctype html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%= cssPath %>">
  <script type="text/javascript">
    API_URL = "<%= apiPath %>";
  </script>
</head>
<body>
	<%- content %>
	<script src="<%= scriptPath %>" defer></script>
</body>
</html>